@import "../../node_modules/susy/sass/susy";
@import "./other_module_style";

$susy: (
    columns: 12,  // The number of columns in your grid
    gutters: 1/4, // The size of a gutter in relation to a single column
    /* Tells Susy that the container has a max-width of 1120px */
    container: 1120px,
    /* Tells Susy to use border-box */
    global-box-sizing: border-box
);

.wrap {
    @include container;
}

/* Tells Susy there's 8 columns in the content */
.content {
    @include span(8);
    background: gray;
}

/* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
.sidebar {
    @include span(4 last);
    background: black;
    color: white;
}


.social {
    /* Adds a padding of 19px to each side of the .social container */

    //padding: gutter();
    background: green;
    /* Adding a clearfix because all children elements are floated */
    @include susy-clearfix();
    //clear: both;

    @include bleed(10px);

    margin-top: 50px;


    .social__list-item {
        background: lightyellow;
        /* Telling Susy that there are 10 items, and each takes up 1 row */
        @include span(1 of 10);
        /* Another way to tell Susy that this is the last item in the row */
        &:last-child {
            @include last;
        }
    }
}
